<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hahaxueche">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--阿里移动推送相关权限-->
    <!--Android 6.0版本可去除，用于选举信息（通道复用）的同步-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--选举使用，当应用有删除或者更新时需要重新选举，复用推送通道-->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!--补偿通道GCM使用，不使用可去除-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 允许task重排序 -->
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <!--小米通道相关权限 -->
    <permission
        android:name="com.hahaxueche.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signatureOrSystem" />
    <uses-permission android:name="com.hahaxueche.permission.MIPUSH_RECEIVE" />

    <application
        android:name=".HHBaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="bef251a51713ec91fb35728ba0bb52ca" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${umeng_app_key}"></meta-data>
        <!--release:564582e767e58e049a001e48 ; debug:564a8a8067e58e74de006545-->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <meta-data
            android:name="linkedme.sdk.key"
            android:value="linkedme_live_6e02127dcdac518550bb02a4450c5f3c" />
        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="23260416" /> <!-- aliyun push appKey -->
        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="996121506d96c60827a917c2ca26ab14" /> <!-- aliyun push appSecret -->
        <meta-data
            android:name="com.taobao.android.hotfix.APPSECRET"
            android:value="79c7199994bc41940643bc75b8ca0ad0" />
        <meta-data
            android:name="com.taobao.android.hotfix.RSASECRET"
            android:value="@string/baichuan_rsa" />

        <activity
            android:name=".ui.activity.base.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <!-- 此处scheme值需要替换为后台设置中的scheme值 -->
                <data android:scheme="hhxc" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <!-- APP Links方式,Android 23版本及以后支持 -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 以下pathPrefix值需要替换为后台设置中 App ID 的值-->
                <data
                    android:host="lkme.cc"
                    android:pathPrefix="/RnC"
                    android:scheme="https" />
                <data
                    android:host="lkme.cc"
                    android:pathPrefix="/RnC"
                    android:scheme="http" />
                <data
                    android:host="www.lkme.cc"
                    android:pathPrefix="/RnC"
                    android:scheme="https" />
                <data
                    android:host="www.lkme.cc"
                    android:pathPrefix="/RnC"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.login.StartLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.login.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.login.CompleteUserInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.base.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppStartLoadTranslucent"></activity>
        <activity
            android:name=".ui.activity.base.BaseWebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.myPage.FAQActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.myPage.SoftwareInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.myPage.ReferFriendsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.community.ArticleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.findCoach.SearchCoachActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.findCoach.CoachDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.findCoach.ReviewListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.myPage.FollowListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.findCoach.PurchaseCoachActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <!-- Ping++ SDK -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>
        <!-- 微信支付 -->
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />

        <activity
            android:name="cmb.pb.ui.PBKeyboardActivity"
            android:theme="@style/CmbDialogStyleBottom" />
        <activity
            android:name=".ui.activity.findCoach.PaySuccessActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.findCoach.FieldFilterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.community.ExamLibraryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.community.ExamActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.community.StartExamActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.findCoach.PartnerDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.findCoach.PriceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.myPage.MyCoachDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.findCoach.FieldMapActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.myPage.PaymentStageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.myPage.WithdrawActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.myPage.WithdrawRecordsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.myPage.AddBankActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.myPage.SelectBankActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.myPage.ReferrerListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.community.ArticleCommentsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.myPage.NoCourseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.myPage.CourseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.myPage.MyVoucherActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.myPage.SelectVoucherActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.myPage.UploadIdCardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.myPage.MyContractActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.myPage.NotLoginVoucherActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.myPage.MyReferActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.myPage.PassEnsuranceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.findCoach.PlatformAssuranceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.myPage.TemplateContractActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.myPage.StudentReferActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.myPage.MyInsuranceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.hahaxueche.provider.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="cmb.pb.cmbsafe.CmbService"
            android:exported="false" />
        <service android:name="com.amap.api.location.APSService"></service>

        <!-- aliyun push 通道保持服务 -->
        <service
            android:name="com.alibaba.sdk.android.push.ChannelService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.SERVICE" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />
                <category android:name="taobao" />
            </intent-filter>
        </service>
        <!-- aliyun push 消息接收服务 -->
        <service
            android:name="com.alibaba.sdk.android.push.MsgService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.NOTIFY_ACTION" />
            </intent-filter>
        </service>
        <!-- aliyun push 消息接收增强服务（可提高通知/消息达到率）-->
        <service
            android:name="com.alibaba.sdk.android.push.channel.TaobaoRecvService"
            android:exported="true">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
        </service>

        <!-- aliyun push 消息接收监听器-->
        <receiver android:name="com.alibaba.sdk.android.push.MessageReceiver">
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.taobao.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- 小米通道官方配置 -->
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />

        <receiver
            android:name="com.alibaba.sdk.android.push.MiPushBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <!-- 华为通道官方配置 -->
        <receiver android:name="com.alibaba.sdk.android.push.HuaWeiReceiver">
            <intent-filter>
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
                <action android:name="com.huawei.intent.action.PUSH" />
                <action android:name="com.huawei.intent.action.PUSH_STATE" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
